<%- include('../partials/base') %>


<h1>Golf Course Search</h1>
<form action="/courseapi/query" method="POST">
<input type="text" name="zipcode">
<button type="submit">Seach</button>
</form>


<%- include('../partials/footer') %>
    
