<%- include('./partials/base') %>

<h1>Golf Course Search</h1>
<form action="/courses/api" method="GET">
    <input type="text" name="courses" />
    <button type="submit">Search Golf Courses</button>
</form>


<%- include('./partials/footer') %>