<!DOCTYPE html>
<html>

<head>
  <title>Caddie</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>Caddie</h1>
  <div style="background-image: url('caddie.png');"></div>
</body>

</html>