<div>
    <form action="/courses/<%= course %>/scores" method="GET">
        <label> Best Score:
            <input type="text" name="bestScore">
            <button type="submit" value="<%= JSON.stringify({details, course}) %>" name="detailsAndCourse">Add
                Score</button>
        </label>
    </form>
</div>
