#landing-page {
  background: url(/images/caddie.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.heading {
  color: gold;
  text-shadow: 4px 4px 4px black;
  font-size: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
  font-family: 'Bebas Neue', cursive;
}

.login {
  color: gold;
  font-size: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
  font-family: 'Bebas Neue', cursive;
}




#navigation {
  height: 150px;
  background-color: rgb(177, 63, 63);
}