#landing-page {
  background: url(/images/caddie.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



.heading {
  color: gold;
  text-shadow: 4px 4px 4px black;
  font-size: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
  font-family: 'Bebas Neue', cursive;
}


body>nav {
  grid-area: nav;
  background-color: rgb(155, 160, 161);
  height: 105px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
  text-shadow: 1px 1px 1px black;
}



h1 {
  align-items: center;
}

#background {
  background-color: cornflowerblue;
}

#golf-search {
  text-align: center;
  font-size: 70px;
  color: gold;
  text-shadow: 4px 4px 4px black;
}




#search-heading {
  text-align: center;
}