#landing-page {
  background: url(/images/caddie.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.heading {
  color: white;
  font-size: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 250px;
  font-family: 'Bebas Neue', cursive;
}

#ball {
  height: 200px;
}

.caddie-bag {
  height: 150px;
}

#navigation {
  height: 150px;
  background-color: rgb(177, 63, 63);
}