<%- include('../partials/base') %>

<h1>My Courses</h1>

<% if(!courses) { %>
    <h2>No Courses Yet</h2>
<%} else { %>

    <%courses.forEach(function(course) { %>
        <ul>
            <li><%= courses.name%></li>
        </ul>
  <%  }) %>
<%} %>

<%- include('../partials/footer') %>