<%- include('../partials/base') %>

<h1>Update Score:</h1>

<% courses.score.forEach(function(score) { %>
<form action="/courses/<%= course %>/update" method="POST">
    <label>Score:
        <input type="text" value="<%= score.bestScore %>" name="score">
    </label>
    <input type="submit" value="Update Score">
</form>
<%}) %>


<%- include('../partials/footer') %>